<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Registro de Insignia</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (ngSubmit)="aceptar()">

      <!-- Mostrar campo ID solo en modo edición -->
      @if (edicion) {
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="codigo" />
        </mat-form-field>
      }
      <br />

      <!-- ID de Meta -->
      <mat-form-field>
        <mat-label>Meta</mat-label>
        <mat-select formControlName="idMeta">
          @for (m of metas; track m) {
          <mat-option [value]="m.idMeta">{{ m.idMeta }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('idMeta')?.hasError('required')) { Ingrese la meta! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Nombre del logro -->
      <mat-form-field>
        <mat-label>Nombre del logro</mat-label>
        <input matInput formControlName="nombre_logro" />
        <mat-error>
          @if (form.get('nombre_logro')?.hasError('required')) { Ingrese el nombre del logro! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Descripción -->
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" />
        <mat-error>
          @if (form.get('descripcion')?.hasError('required')) { Ingrese la descripción! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Puntos -->
      <mat-form-field>
        <mat-label>Puntos</mat-label>
        <input matInput type="number" formControlName="puntos" />
        <mat-error>
          @if (form.get('puntos')?.hasError('required')) { Ingrese los puntos! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Botón Guardar -->
      <div style="margin-top: 20px;">
        <button mat-raised-button color="primary" type="submit">
          Guardar
        </button>
      </div>

    </form>
  </div>
</div>
