.metas-container {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.form-card {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

form {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 16px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
  gap: 16px;
}

.meta-card {
  padding: 16px;
  border-radius: 18px;
}

